.ai-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: left;
  width: 20%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 2px; 
}

.hint-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  text-align: center;
  float: none;
  width: 20%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 2px; 
}
